.invoice-details-page {
    .invoice-pdf-view {
        padding: 40px 80px;
        background: #fff;
        color: var(--black);
        // width: 90%;
        // margin: 0 auto;
    }

    .view-invoice-proimg {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.12));
    }

    .gradientline {
        background: linear-gradient(90deg, #e0b35a 0%, #ee6f00 18.13%, #b65b00 43.19%, #e0b27e 83.64%);
        border-radius: 14px;
        height: 4px;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .title1 {
        font-size: calc(16px + 6 * (100vw - 320px) / 1600);
        font-weight: 600;
        color: #0B1426;
    }
    td{
        vertical-align: middle;
    }

    .brick-clr {
        color: #f1a500;
    }

    .lightbrick {
        color: #f3c600;
    }

    .clr-565B67 {
        color: #565B67;
    }

    .clr-898989 {
        color: #898989;
    }

    .f-xs {
        font-size: 16px;
    }

    .f-sm {
        font-size: 16px;
    }

    .f-12 {
        font-size: 12px !important;
    }

    .f-14 {
        font-size: 14px !important;
    }

    .fw-600 {
        font-weight: 600;
    }

    .fw-500 {
        font-weight: 500;
    }

    .plain-lightbrick-btn {
        background: rgb(var(--theme-color), 0.13);
        color: rgb(var(--theme-color2));
        border-radius: 5px;
        border: 2px solid transparent;
        height: 33px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    }

    .capitalize {
        text-transform: capitalize;
    }


    .plain-lightbrick-btn:hover {
        background-color: #fff;
        color: rgb(var(--theme-color));
        border: 2px solid rgb(var(--theme-color));
        font-weight: 600;
        box-shadow: none;
    }

    .brick-btn {
        background-color: rgb(var(--theme-color));
        color: #fff;
        border-radius: 5px;
        border: 2px solid transparent;
        height: 33px;
        font-weight: 600;
        font-size: 13px;
    }


    .brick-btn:hover {
        background-color: #fff;
        color: rgb(var(--theme-color));
        border: 2px solid rgb(var(--theme-color));
    }
}