.change-password-popup {
    .card.change-pw {
        padding: 20px;

        .first-screen {
            align-items: start;
            h1 {
                font-weight: 500 !important;
                font-size: calc(14px + 4 * (100vw - 320px) / 1600) !important;
                color: rgba(var(--dark-text), 1) !important;
                width: 100%;
                border-bottom: 1px solid rgb(238, 238, 238);
                text-align: left;
            }
        }

        .footer {
            margin-top: 20px;
        }

        input {
            background-color: rgba(var(--box-bg), 1);
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: rgba(var(--dashed-line), 1);
            padding: calc(10px + 2 * (100vw - 320px) / 1600);
        }

        label {
            font-size: 14px;
            font-weight: 400;
        }
        .password-input{
            position: relative;
            .password-eye {
              cursor: pointer;
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%);
              font-size: 24px;
              // padding-right: 10px;
              color: rgba(var(--content-color), 1);
              svg{
                width: 20px;
                height: 20px;
              }
            }
          }
    }
}