.unlock-coupons{
    margin: 20px 10px;
    .custom-swiper{
        margin: 20px 0 0 0;
        width: 100%;
        position: relative;
    }
    .offer-card{
        border: 1px solid rgb(var(--theme-color));
        border-radius: 5px;
        padding: 10px;
        // background-color: aqua;
        // width: 20px;
        // height: 20px;
        position: relative;
        .overlay {
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.451);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .lock-icon {
                color: #f7f7f7;
                opacity: 50%;
                font-size: 23px;
              }
              .unlock-msg{
                color: #f7f7f7;
                padding: 20px;
                text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
                line-height: normal;
                font-weight: 500;
              }
            
          }
        
        .coupon-name {
            display: flex;
            align-items: center;
            gap: 12px;
            .coupon-img{
                width: 30px;
                height: 30px;
                background-color: #f7f7f7;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
            }
            .coupon-name-content {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* Limit to 2 lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                 h5 {
                    overflow: initial;
                    white-space: initial;
                    text-overflow: ellipsis;
                    font-size: calc(15px + 5 * (100vw - 320px) / 1600);
                }
            }
        }


        .coupon-content {
            .coupon-code {
                width: 130px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 450;
            }

            .coupon-apply {
                padding-top: calc(5px + 10 * (100vw - 320px) / 1600);
            }

            p {
                padding: calc(5px + 5 * (100vw - 320px) / 1600) 0 calc(3px + 3 * (100vw - 320px) / 1600);
                font-size: calc(12px + 2 * (100vw - 320px) / 1600);
                line-height: normal;
            }
            .expiry{
                font-size: calc(10px + 2 * (100vw - 320px) / 1600);
                color: rgba(var(--dark-text), 1) !important;
            }

            .tandc {
                display: flex;
                justify-content: flex-end;
                font-size: calc(11px + 2 * (100vw - 320px) / 1600);
                color: rgba(var(--theme-color), 1);
                padding: 0 0 calc(1px + 1 * (100vw - 320px) / 1600);
                cursor: pointer;
                transition: all 0.3s ease;
                transform-origin: center;

                &:hover {
                    font-weight: 500;
                }
            }

            .description {
                // min-height: 2.5rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* Limit to 2 lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .coupon-apply{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: calc(5px + 5 * (100vw - 320px) / 1600);
            border-top: 1px dashed rgba(var(--black), 0.12);
            .copy-btn {
                padding: calc(8px + 2 * (100vw - 320px) / 1600);
                line-height: 1;
                font-size: 14px;
            }
        } 
    }
    .unlock-msg{
        color: #000;
        padding-top: 5px;
        // text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
        line-height: normal;
        font-weight: 400;
        font-size: 10px;
      }
    // Swiper Navigation Arrows
    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(var(--theme-color)); // Custom arrow color
        font-size: 1.2rem !important;
        transition: color 0.3s ease;
        font-weight: 500;
        &::after {
            font-size: 1.2rem !important;
        }

        &:hover {
            color: rgb(var(--theme-color),0.3); // Darker shade on hover
        }
    }

    // Pagination Bullets
    .swiper-pagination-bullet {
        background: rgb(var(--theme-color)) !important; // Bullet color
        opacity: 0.6;
        transition: opacity 0.3s ease;

        &-active {
            background: rgb(var(--theme-color),0.3) !important; // Darker color for active bullet
            opacity: 1;
        }
    }
}