.payment-audit-list-page {
   .filters {
      .filter-txt {
         align-items: center;
      }
   }

   .filter-container {
      margin-bottom: 0px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      width: 100%;   
      position: relative;

      .filter-row {
         display: flex;
         flex-wrap: wrap;
         gap: 15px;
         justify-content: space-between;

         // align-items: center;
         .filter-item {
            display: flex;
            flex-direction: column;
            min-width: 150px;
            justify-content: flex-end;
            position: relative;
            &.btns{
               min-width: fit-content;
            }
            &.order{
               min-width: fit-content;
               input{
                  width: 100px;
               }
             }

            label {
               font-size: calc(12px + 2 * (100vw - 320px) / 1600);
               margin-bottom: 5px;
            }

            input,
            select {
               padding: 5px;
               font-size: calc(12px + 2 * (100vw - 320px) / 1600);
               border: 1px solid #ccc;
               border-radius: 3px;

               &:focus {
                  border-color: rgb(var(--theme-color));
                  outline: none;
               }
            }

            .btn {
               padding: 8px 12px;
               background-color: rgb(var(--theme-color));
               color: #fff;
               border: 1px solid transparent;
               border-radius: 3px;
               cursor: pointer;
               transition: background-color 0.3s;
               font-size: calc(12px + 2 * (100vw - 320px) / 1600);
               line-height: normal;

               &:hover {
                  background-color: rgb(var(--theme-color), 0.9);
               }

               &.reset-btn {
                  color: rgb(var(--theme-color));
                  background-color: transparent;
                  border-color: rgb(var(--theme-color));
               }
            }
            .date-input {
               width: 200px;
               padding: 5px;
               font-size: 14px;
               border: 1px solid #ccc;
               border-radius: 3px;
               cursor: pointer;
               &:focus {
                 border-color: rgb(var(--theme-color));
                 outline: none;
               }
             }
           
           
         }
      }
   }

   table {
      th {
         white-space: normal !important;
         // text-align: start !important;
         // &:last-child, &:first-child{
         //    text-align: center !important;
         // }
      }

      .user-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: start;
         text-align: start;

         .type {
            display: flex;
            align-items: flex-start;

            img {
               width: 16px;
               margin-right: 3px;
            }
         }

         .name {
            max-width: 210px;
            white-space: normal;
            font-weight: 500;
         }
         

         .email {
            max-width: 210px;
            white-space: normal;
         }
      }
      .transaction-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         text-align: start;
         span{
            font-size: calc(10px + 2 * (100vw - 320px) / 1600);
            color: #656565;
         }
         .type {
            display: flex;
            align-items: flex-start;
            .payment{
               color: #008819;
            }
            .refund{
               color: #001bb4;
            }
            img {
               width: 16px;
               margin-right: 3px;
            }
         }

         .transaction_id {
            max-width: 180px;
            white-space: normal;
            word-break: break-word;
         }
         .amount{
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            gap: 4px;
            align-items: center;
            .status{
               font-size: calc(9px + 1 * (100vw - 320px) / 1600);
               padding: 3px 5px;
               border-radius: 5px;
               // background-color: red;
               background-color: rgb(0, 165, 63);
               color: #fff;
               font-weight: 500;
               line-height: normal;
               &.success{
                  background-color: rgb(0, 147, 56);
               }
               &.failed{
                  background-color: rgb(215, 0, 0);
               }
            }
         }

         .email {
            max-width: 210px;
            white-space: normal;
         }
      }
      .order {
         max-width: 100px;
         min-width: fit-content !important;
         white-space: normal;
      }

      .date {
         text-align: center;
         max-width: 100px;
         width: 70px;
         white-space: normal;
      }
      .ip-address{
         // text-align: center;
         max-width: 140px;
         white-space: normal;
      }

      .action-details {
         // max-width: 200px;
         white-space: normal;
      }

      .status span {
         text-transform: capitalize;
      }

      td {
         font-size: calc(12px + 2 * (100vw - 320px) / 1600) !important;
      }

      .wrap-text {
         white-space: normal;
         max-width: 200px;
         font-size: calc(10px + 2 * (100vw - 320px) / 1600) !important;
      }

      .title-short {
         max-width: 180px;
         // text-transform: capitalize;
         white-space: normal !important;
         overflow: hidden;
         text-overflow: ellipsis;
         font-size: calc(12px + 2 * (100vw - 320px) / 1600) !important;

         &.ip {
            text-transform: none;
         }
      }

      .subject-short {
         max-width: 210px;
         white-space: normal !important;
         overflow: hidden;
         text-overflow: ellipsis;
         text-transform: capitalize;
      }

      .description-cell {
         position: relative;
         overflow: hidden;

         .description-short {
            vertical-align: inherit;
            max-width: 170px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            position: relative;
            display: inline-block;

            i {
               font-size: 18px;
               color: #0047ab;
            }
         }
      }

      .publish-date {
         font-size: calc(11px + 2 * (100vw - 320px) / 1600);
      }


   }


}