.blog-add-page {
    .card{
        padding: 30px;
    }

    .form-select {
        &.to_group {
            text-transform: capitalize;
        }
    }
    .form-sec{
        label{
            font-size: calc(13px + 2 * (100vw - 320px) / 1600);
            color: rgb(76, 76, 76);
            font-weight: 500;
            margin-bottom: 5px;
        }
    }

    .rich-text-container .editor-class{
        .DraftEditor-root {
            font-size: 16px;
          }
        
    }
    .add-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        cursor: pointer;
        label{
            margin: 0;
            cursor: pointer;
        }
        svg{
            path{
                fill: rgb(var(--theme-color));
            }
        }
    }

}