.driver-list{
    .dataTables_filter{
        input{
            font-size: inherit;
        }
    }
    td{
        white-space: normal;
        .email{
            max-width: 100%;
            white-space: normal;
        }
        .user-name{
            max-width: 100%;
            white-space: normal;
        }
    }
}