.shop-menu-card {
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
height: fit-content;
  display: flex;
  gap: 15px;

  .img-box {
    max-width: 120px;
    position: relative;

    .product-img-top {
      height: 100%;
    }

    .seller-badge {
      border-radius: 33px;
      position: absolute;
      z-index: 1;
      left: 2px;
      top: calc(100% - 22px);
      border-radius: 4px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(var(--theme-color), 1)), to(rgba(var(--theme-color2), 1)));
      background: linear-gradient(to right, rgba(var(--theme-color), 1), rgba(var(--theme-color2), 1));
      padding: 2px calc(5px + 5 * (100vw - 320px) / 1600);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 3px;
      height: fit-content;

      &.special-badge {
        background: -webkit-gradient(linear, left top, right top, from(rgba(var(--theme-color), 1)), to(rgba(var(--theme-color2), 1)));
        background: linear-gradient(to right, rgba(var(--theme-color), 1), rgba(var(--theme-color2), 1));
        text-transform: capitalize;
      }

      &.season-special-badge {
        background: -webkit-gradient(linear, left top, right top, from(#0013e0), to(#095f00));
        background: linear-gradient(to right, #0013e0, #095f00);
        text-transform: capitalize;
      }

      &.bestseller-badge {
        background: -webkit-gradient(linear, left top, right top, from(#00ad91), to(#007a66));
        background: linear-gradient(to right, #00ad91, #007a66);
      }

      .badge {
        display: block;
        padding: 0;
        width: 14px;
      }

      h6 {
        font-size: calc(10px + 1 * (100vw - 320px) / 1600);
        font-weight: 400;
        color: #fff;
        line-height: 100%;
      }
    }
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
.strip{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
    .airline-name {
      color: var(--primary-color);
      font-size: 2.5rem;
      font-weight: 600;
      line-height: normal;
      transition: 0.4s ease;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;

    }
.flight-number {
      color: #003392;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: normal;
      transition: 0.4s ease;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;

    }
    .wishlist-icon {
      color: #f00;
    }


    .more-details {
      padding-bottom: 5px;
      margin-bottom: 5px;
      color: grey;
      font-size: calc(14px + 2 * (100vw - 320px) / 1600);
      font-weight: 400;
      line-height: 1;
      border-bottom: 1px dashed rgba(var(--dashed-line), 1);
      margin-top: 4px;
      padding-bottom: calc(8px + 8 * (100vw - 320px) / 1600);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 95%;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    

   
    

      .price {
        font-size: 2rem;
        font-weight: 600;
        color: #10a100;
        margin-bottom: 0;
      }

      .org-dest {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        color: rgb(63, 63, 63);
        font-weight: 500;
        margin-bottom: .5rem;
        width: fit-content;
      }

      .route {
        font-size: 1.3rem;
        line-height: 1;
        color: rgb(234, 23, 55);
        font-weight: 600;
        margin-bottom: .5rem;
      }

      .date-and-time {
        font-size: 1.5rem;
        line-height: 1;
        color: rgb(75, 75, 75);
        font-weight: 700;
        margin-bottom: .5rem;
        padding: 2px 5px;
        border-radius: 4px;
      }

      
      .add-btn {
        padding: 5px 10px;
        font-size: 1.3rem;
        font-weight: 700;
        white-space: nowrap;
        border-radius: 5px;
        border: 2px solid rgb(224, 46, 46);
        color: rgb(224, 46, 46);
        transition: 0.4s ease;
      &:hover{
        background-color:  rgb(224, 46, 46);
        color:#fff
      }}

    
      .closed-tag {
        // position: absolute;
        // bottom: 45px;
        // right: -5px;
        // background-color: rgb(138, 13, 13); 
        // border: 1px solid rgb(138, 13, 13); 
        color: rgb(188, 0, 0);
        padding: 5px 0px;
        // transform: rotate(-45deg);
        transform-origin: bottom right;
        font-size: 12px;
        white-space: nowrap;
        border-radius: 5px;
      }
    
  }

  &:hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
  }
}


@media (max-width: 1024px) {
  .shop-menu-card {
    width: 26rem;


    .img-box {


      .product-img-top {}
    }
  }
}


@media (max-width: 768px) {
  .shop-menu-card {
    width: 100%;


    .img-box {


      .product-img-top {}
    }
  }
}