.policy-page {
  .banner {
    width: 100%;
    height: fit-content;


    .inner {
      background-image: url("../../../../public/images/policy-pages/banner.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: var(--sec-width); // 1341px
      height: 15.125rem; // 264px
      padding: 3.125rem 3.125rem; // 50px 50px
      margin: 0 auto;
      display: flex;
      align-items: center;

      justify-content: center;
      margin-bottom: 2.5rem;

.main-heading{
  color: #555555;
}


    }

  

  }

  .last-updated {
    width: var(--sec-width);
    margin: 0 auto 3rem auto;

  }

  .section {
    width: var(--sec-width);
    margin: 0 auto 5rem auto;
background-color: var(--primary-color);
padding: 2.5rem;
border-radius: 0.5rem;
color: #fff;
    .title {
      margin-bottom: 2rem;
      cursor: none;
color: #fff;

     
    }

   

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
color: #fff;
    }
a{
  font-weight: 600;
  text-decoration: underline;
  color: #fff;
}
    ul {
      padding-left: 50px;

      li {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
color: #fff;

      }
    }
    .faq{
      background-color: var(--secondary-color);
      padding: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}


@media (max-width: 1024px) {
  .policy-page {
    .banner {


      .inner {}



    }

    .section {

      .btn-primary {}

      p {
        font-size: 1.25rem;
        line-height: 2.125rem;
      }

      ul {
        li {
          font-size: 1.25rem;
          line-height: 2.125rem;
        }
      }
    }
  }
}

@media (max-width:767px) {
  .policy-page {
    .banner {


      .inner {}



    }

    .section {


      .btn-primary {}

      p {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }

      ul {
        li {
          font-size: 1.5rem;
          line-height: 2.25rem;
        }
      }
    }
  }
}