.order-review-list-page {
    .form-switch .form-check-input {
        background-color: rgb(var(--theme-color)) !important;
        border-style: solid;
        border-color: rgb(var(--theme-color));
    }
    

    .review {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .review-text {
            overflow: hidden;
            white-space: nowrap;
            // white-space: pre-line;
            text-overflow: ellipsis;
            width: 200px;

        }

        .more {
            font-size: 11px;
            cursor: pointer;
        }
    }
    .order-review-modal{
        .heading{
            font-size: calc(12px + 2 * (100vw - 320px) / 1600);
            color: #000;
            font-weight: 400;
            line-height: 100%;
            opacity: 0.8;
        }
        .instructions-br{
            white-space: pre-line;
            font-size: calc(13px + 3 * (100vw - 320px) / 1600);
            line-height: 20px;
            font-weight: 450;
        }
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            margin-bottom: 10px;
        }
        .no-data {
            white-space: pre-line;
            font-size: 14px;
            line-height: 20px;
            opacity: 0.4;
        }
        // .rating-category{
        //     border-bottom: 1px solid #e5e5e5;
        //     padding-top: 7px;
        //     &:last-child{
        //         border-bottom: none;
        //     }
        //     &:first-child{
        //         padding-top: 0;
        //     }
        // }
        .rating-category {
            position: relative;
            border: 1px solid #d2d2d2;
            border-radius: 5px;
            padding: 20px 10px 5px 15px;
            text-align: center;
            margin-bottom: 15px;
            .rating-title {
                font-weight: 600;
                position: absolute;
                top: 0;
                left: 50%;
                font-size: calc(14px + 2 * (100vw - 320px) / 1600);
                transform: translate(-50%, -50%);
                background: white;
                padding: 0 10px;
                z-index: 1;
              }
    
          }
          
                    
        
    }

    .rating-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .star-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        svg {
            width: 16px;
            height: 16px;

            path {
                fill: transparent !important;
                stroke: #868790 !important;
                cursor: default;
                &:hover {
                    fill:none !important;
                    stroke: none !important;
                }
                &.filled {
                    fill: rgb(var(--theme-color)) !important;
                    stroke: rgb(var(--theme-color)) !important;
                }
            }
        }
    }

    


   
}