.cards-container{
    $brands: (
        Visa: #1A1F71,
        Mastercard: linear-gradient(45deg, #EB001B, #F79E1B),
        AmericanExpress: #2E77BC,
        Amex: #2E77BC,
        Discover: #FF6000,
        DinersClub: #0066A1,
        JCB: #006AB6,
        UnionPay: #D51219
    );
    
    .debit-card {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        border: rgba(61, 61, 61, 0.15);
        border-radius: 6px;
        background-color: #656565;
        background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
        @each $brand, $color in $brands {
            &.#{$brand} {
              background: $color;
            }
          }
        .card-details{
            padding: 20px;
            .card-name{
                color: rgba(255, 255, 255, 0.5);
            }
            .user-name h5 {
                font-weight: 500;
                color: #fff;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                line-height: normal;
            }
            .chip, .network {
                margin-top: 12px;
                height: auto;
            }
            .ac-details {
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h6 {
                font-weight: 400;
                color: rgba(255, 255, 255, 0.5);
                line-height: normal;
            }
            h3 {
                font-weight: 600;
                color: #fff;
                font-size: calc(14px + 2 * (100vw - 320px) / 1600);
                line-height: normal;
            }
            h5 {
                font-weight: 600;
                color: #fff;
                font-size: calc(14px + 2 * (100vw - 320px) / 1600);
                line-height: normal;
            }
        }
        .card-hover {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 0;
            left: 0;
            background-color: rgba(34, 34, 34, 0.9);
            border-radius: 5px;
            opacity: 0;
            transition: 0.4s ease;
            .delete{
                position: absolute;
                top: 10px;
                right: 10px;
                color: #d60000;
                i{
                    color: #be0000;
                }
            }
        }
        &:hover{
            .card-hover {
                opacity: 1;
                border-radius: 6px;
                transform: scale(1);
                transition: all 0.3s ease;
            }
        }
    }
}