.notification-list-page {
    color: var(--black);
    .option-title{
        .dismiss{
            font-size: calc(11px + 2 * (100vw - 320px) / 1600);
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .notification-container {
        .message {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 15px 10px;
            border: 1px solid rgb(var(--theme-color2),0.2);
            // border-bottom: 1px solid #efefef;
            position: relative;
            flex-wrap: wrap;
            transition: all 0.3s ease;
            box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.01);
            margin-bottom: 5px;
            border-radius: 5px;
            letter-spacing: normal;
            i {
                font-size: 9px;
                color: #007a4e;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50% ,-50%);
            }

            .message-text {
                flex: 1;
                font-size: calc(13px + 2 * (100vw - 320px) / 1600);
                word-break: break-word;
                margin-right: 10px;
                font-weight: 450;
            }

            .time {
                font-size: calc(10px + 2 * (100vw - 320px) / 1600);
                color: #868686;
                align-self: flex-end;
                white-space: nowrap;
            }

            &.unread {
                background-color: rgb(var(--theme-color2), 0.3);
            }

            &:hover {
                border-color: rgb(var(--theme-color2),0.7);
                box-shadow: 4px 0px 8px 4px rgba(0, 0, 0, 0.05);
            }
        }

    }
}