.wallet-checkout-failed-page {
    background: var(--bg-color-light);



    .sec-2 {
        padding: 2rem 0;
        width: var(--sec-width);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .lhs {
            width: 66%;



            .confirm-section {
                color: var(--black);
min-height: 60vh;
display: flex;
justify-content: center;
align-items: center;
h3{
    text-align: center;
    color: var(--primary-color);
}
p{
    text-align: center;
    color: #3b3b3b;
}
                label {
                    color: #3b3b3b;
                }

            }
        }

        .rhs {
            width: 33%;
            height: fit-content;

            border: 1px solid #e0e0e0;
            border-radius: 6px;
            padding: 1rem;
            color: #4c4c4c;


            .order-summery-section {
                top: 2rem;

                .checkout-detail {
                    position: relative;
                    background-color: rgba(var(--white), 1);
                    padding: 1rem;
                    margin-bottom: 0;

                    .cart-address-box {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: calc(10px + 10 * (100vw - 320px) / 1600);
                        padding: 1.5rem 1rem;
                        background: var(--white);
                        border: 1px solid var(--grey-dark);
                        border-radius: 6px;

                        .add-img {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .img {
                                width: 2rem !important;
                                height: 2rem !important;
                                border-radius: 4px;
                                object-fit: cover;
                            }
                        }

                        .add-content {
                            width: 100%;
                            position: relative;

                            .deliver-place {
                                font-weight: 600;
                                font-size: calc(13px + 3 * (100vw - 320px) / 1600);
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }

                            .address {
                                width: 100%;
                                line-height: 1.4;
                                font-size: calc(13px + 3 * (100vw - 320px) / 1600);

                                .driver-details {
                                    margin-bottom: 3px;

                                    .info {
                                        font-size: calc(12px + 2 * (100vw - 320px) / 1600) !important;

                                        .name {
                                            font-weight: 500;
                                            font-size: calc(13px + 2 * (100vw - 320px) / 1600) !important;
                                            margin-left: 4px;
                                        }
                                    }
                                }

                                .time-warning {
                                    margin-top: 5px;
                                    font-size: calc(11px + 1 * (100vw - 320px) / 1600);
                                    color: #bd3f00;
                                }
                            }
                        }
                    }

                    .checkout-title {
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    ul {
                        padding-left: 0;

                        li {
                            list-style: none;

                            .horizontal-product-box {
                                display: flex;
                                gap: 10px;
                                padding: 10px 0;
                                padding-top: 10px;
                                background-color: rgba(var(--white), 1);

                                .product-content {
                                    width: 100%;
                                    position: relative;

                                    h5 {
                                        color: rgba(var(--dark-text), 1);
                                        font-weight: 500;
                                        max-width: 80%;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        font-size: calc(16px + 2 * (100vw - 320px) / 1600);
                                    }

                                    .product-price {
                                        font-weight: 600;
                                        color: rgba(var(--dark-text), 1);
                                        font-size: calc(16px + 4 * (100vw - 320px) / 1600);
                                    }

                                    h6 {
                                        font-size: calc(14px + 2 * (100vw - 320px) / 1600);
                                        font-weight: 400;
                                        color: rgba(var(--content-color), 1);

                                        &.place {
                                            position: relative;
                                            padding-left: calc(7px + 5 * (100vw - 320px) / 1600);
                                            color: rgba(var(--content-color), 1);
                                            border-bottom: none;
                                        }
                                    }

                                    .plus-minus {
                                        border: 1px solid var(--dark-grey);
                                        padding: 5px;
                                        border-radius: 6px;
                                        display: flex;
                                        align-items: center;
                                        background-color: var(--light-grey);
                                        text-align: center;
                                        width: calc(75px + 15 * (100vw - 320px) / 1600);

                                        i {
                                            color: rgba(var(--dark-text), 1);
                                            cursor: pointer;

                                            &.sub {
                                                padding-right: 5px;
                                                border-right: 1px solid var(--dark-grey);
                                            }

                                            &.add {
                                                padding-left: 5px;
                                                border-left: 1px solid var(--dark-grey);
                                            }

                                        }

                                        input {
                                            background-color: transparent;
                                            color: rgba(var(--theme-color), 1);
                                            border: none;
                                            font-size: 14px;
                                            outline: none;
                                            width: calc(20px + 15 * (100vw - 320px) / 1600);
                                            text-align: center;
                                        }

                                    }

                                    .delete {
                                        color: rgb(224, 46, 46);
                                        cursor: pointer;
                                        border: 1px rgb(255, 70, 70) solid;
                                        padding: 3px 4px;
                                        border-radius: 4px;
                                    }

                                }


                            }

                        }
                    }

                    .bill-details-title {
                        padding: calc(10px + 15 * (100vw - 320px) / 1600) 0 calc(10px + 5 * (100vw - 320px) / 1600) 0;
                    }

                    .sub-total {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: calc(5px + 5 * (100vw - 320px) / 1600);
                        align-items: center;

                        h6 {
                            color: var(--black);

                            &.fw-semibold {
                                font-weight: 600 !important;
                            }

                            &.success-color {
                                color: green !important;
                            }
                        }

                        .cart-msg {
                            font-size: calc(11px + 1 * (100vw - 320px) / 1600);
                            font-weight: 450;
                            line-height: normal;
                            color: #0013e0;
                            padding-bottom: 8px;
                        }
                    }

                    .grand-total {
                        display: flex;
                        justify-content: space-between;
                        border-top: 1px solid rgba(var(--dark-text), 0.15);
                        padding: 10px 0 0;

                        h6 {
                            font-size: 1.3rem;
                            font-weight: 600;

                            &.amount {
                                color: green;
                            }
                        }

                    }

                    .checkout-btn {
                        background-color: var(--primary-color);
                        color: var(--white);
                        text-align: center;
                        padding: 0.75rem 1.5rem; // 20px 15px
                        border-radius: 0.25rem; // 4px
                        font-size: 1rem; // 16px
                        line-height: 1;
                        transition: all 1s ease;
                        font-optical-sizing: auto;
                        font-weight: 500;
                        font-style: normal;
                        letter-spacing: 0; // 2px
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 1rem;

                        &:hover {
                            background-color: var(--secondary-color) !important;

                        }

                        &:focus {
                            background-color: var(--secondary-color) !important;

                        }

                        &.edged {
                            border-left: 1rem solid var(--secondary-color);

                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 1024px) {
    .wallet-checkout-confirm-page {
        .sec-2 {
            flex-direction: column;

            .lhs {
                width: 100%;
            }

            .rhs {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .wallet-checkout-confirm-page {


        .sec-2 {}
    }
}