.new-order-popup{
  color: VAR(--black);
    .card{
        padding: 40px;
        width: fit-content;
        margin: 0;
        border-radius: 10px;
    }
    .card-content{
        .green-circle {
            width: 90px;
            height: 90px;
            background-color: #0c0;
            border-radius: 50%;
            animation: pulse 2s infinite;
            @keyframes pulse {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(1.1); 
                }
                100% {
                  transform: scale(1);
                }
              }
          }
        .title-1{
            text-align: center;
            font-weight: 600;
            font-size: calc(22px + 5 * (100vw - 320px) / 1600);
            line-height: 100%;
            letter-spacing: normal;
            max-width: 300px;
        }
        .btns{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    }

    
}