.customer-summary-2 {
    .chart {
        height: 180px;

        g.recharts-layer.recharts-bar-rectangle {
            path {
                fill: rgb(var(--theme-color));
            }
        }

        h2 {
            color: #3d3d3d;
            margin-top: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;
        }

    }

}