.driver-review-list-page {
    .form-switch .form-check-input {
        background-color: rgb(var(--theme-color)) !important;
        border-style: solid;
        border-color: rgb(var(--theme-color));
    }
    

    .review {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .review-text {
            overflow: hidden;
            white-space: nowrap;
            // white-space: pre-line;
            text-overflow: ellipsis;
            width: 200px;

        }

        .more {
            font-size: 11px;
            cursor: pointer;
        }
    }
    .driver-review-modal{
        .heading{
            font-size: large;
            color: #000;
            font-weight: 600;
            line-height: 100%;
        }
        .instructions-br{
            white-space: pre-line;
            font-size: 14px;
            line-height: 20px;
        }
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            margin-bottom: 10px;
        }
        .no-data {
            white-space: pre-line;
            font-size: 14px;
            line-height: 20px;
            opacity: 30%;
        }
        
    }

    .rating-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .star-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        svg {
            width: 16px;
            height: 16px;

            path {
                fill: transparent !important;
                stroke: #868790 !important;
                cursor: default;
                &:hover {
                    fill:none !important;
                    stroke: none !important;
                }
                &.filled {
                    fill: rgb(var(--theme-color)) !important;
                    stroke: rgb(var(--theme-color)) !important;
                }
            }
        }
    }

    


   
}