.mini-banner {
        text-align: center;
        padding: 2rem 0;
        width: 100%;

        .inner {
            width: var(--sec-width);
            margin: 0 auto;

            h2 {
                font-size: 2rem;
                margin-bottom: 10px;
                color: #333;
                text-align: center;
                width: 100%;
            }

            .breadcrumb {
                display: flex;
                justify-content: center;
                gap: 10px;
                font-size: 0.875rem;
                list-style: none;
                padding: 0;

                .breadcrumb-item {
                    a {
                        color: #333;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        cursor: pointer;

                        i {
                            font-size: 1rem;
                        }
                    }

                    &.active {
                        color: #aaa;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .mini-banner {
            padding: 14rem 0 4rem 0;

            .inner {
                h2 {
                    font-size: 3rem;
                }

                .breadcrumb {
                    font-size: 2rem;
                    .breadcrumb-item{a{
                        i{
                            font-size: 2.5rem;
                        }
                    }}
                }
            }
        }
    }
