.ticket-add-page {

    .form-select {
        &.ticket-type {
            text-transform: capitalize;
        }
    }

    .user-search {
        .input-group {
            position: relative;
            width: 100%; /* Ensure the parent is full width */
        }
        
        .input-group input {
            width: 100%; /* Ensure input is full width */
        }
        
        .btn-clear {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            color: #aaa;
            font-size: 16px;
            cursor: pointer;
        }
        
        .dropdown-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border: 1px solid none;
            border-radius: 4px;
            max-height: 150px;
            overflow-y: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4px;
            width: 95%; /* Full width of the parent */
            position: absolute;
            top: auto; /* Position it directly below the input */
            left: auto; /* Align to the left of the parent */
            z-index: 4;
            background-color: #fff;
        }
        
        .dropdown-list li {
            padding: 8px;
            cursor: pointer;
            box-sizing: border-box;
            border-bottom: 1px solid none; /* Optional, for better item separation */
        }
        
        .dropdown-list li:hover {
            background-color: #eea536;
            color: #fff;
        }
    }



    .refund-form {
        // box-shadow: 0px 0px 3px rgba(255, 136, 0, 0.308);
        margin-top: 10px;
        border-radius: 10px;

        .form-heading {
            font-size: large;
            font-weight: 600;
        }

    }

    .refund-form .invalid-feedback {
        font-size: 12px;
        margin: 0;
    }



}