.admin-panel-add-product-sec-1 label {
	font-size: 13px;
	font-weight: 500;
	color: var(--black);
}

.admin-panel-add-product-sec-1 .card {
	box-shadow: 0px 0px 4px rgba(0, 0.09, 0, 0.09);

	&.tags {
		padding: 10px;
	}
	.form-check {
		margin-bottom: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		input {
			height: 19px;
			width: 19px;
			border: 1px solid rgb(242, 169, 62);
			background-color: #fff;
			border-radius: 5px !important;
			cursor: pointer;
			padding: 0;
			&:focus{
				border: 1px solid rgb(242, 169, 62);
				box-shadow: none;
			  }
			&:checked {
			background-color: rgb(242, 169, 62);
			}
		  }
		  label{
			margin: 0;
			margin-left: 7px;
			position: relative;
			top: 2px;
		  }
	  }
}
.admin-panel-add-product-sec-1{
	.card{
		.variant-container{
			font-size: calc(12px + 3 * (100vw - 320px) / 1600);
			display: flex;
			flex-direction: column;
			.added-variants {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding: 8px;
				background: #f9f9f9;
				border-radius: 5px;
				border: 1px solid #ddd;
			
				.variant-row {
				  display: flex;
				  align-items: center;
				  justify-content: space-between;
				  padding: 5px 10px;
				  background: white;
				  border-radius: 5px;
				  border: 1px solid #ccc;
				  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
			
				  span {
					font-size: 14px;
					font-weight: 500;
					color: #333;
				  }
			
				  button {
					background: #ff4d4d;
					color: white;
					border: none;
					padding: 5px 10px;
					border-radius: 4px;
					cursor: pointer;
					transition: 0.3s ease;
					font-size: calc(10px + 2 * (100vw - 320px) / 1600);
			
					&:hover {
					  background: #cc0000;
					}
				  }
				}
			}
			.input-container{
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				margin-top: 10px;
				input{
					width: auto;
					&.quantity_name{
						flex: 1;
					}
				}
			}
			.text-danger{
				font-size: 12px;
			}
			.add-btn{
				cursor: pointer;
				width: fit-content;
				padding: 4px 10px;
				border: 1px var(--primary-color) solid;
				border-radius: 5px;
				color: var(--primary-color);
				font-weight: 500;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 10px;
				align-self: center;
				
			}
		}
	}
}

.admin-panel-add-product-sec-1 .custom-checkbox {
	padding: 0;
}

.admin-panel-add-product-sec-1 textarea {
	/* background-color: #fff; */
	height: 160px;
}

.admin-panel-add-product-sec-1 .public-DraftStyleDefault-ltr {
	margin: 5px !important;
	height: 100PX;
}


.admin-panel-add-product-sec-1 .halal-box {
	display: flex;
	align-items: center;
	/* width: 147px; */
	height: 46px;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.09);
	/* margin-left: 10px; */


}

.admin-panel-add-product-sec-1 .halal-box div {
	display: flex;
	align-items: center;
	padding: 5px;
	width: fit-content;
	height: 100%;
}

.admin-panel-add-product-sec-1 .halal-box div input {
	margin: 0 !important;
}
.admin-panel-add-product-sec-1 .alcohol-input{
	&::placeholder{
		font-size: 12px;
	}
}
/* .admin-panel-add-product-sec-1 .halal-box div:last-child {
	width: 100%;
} */
.admin-panel-add-product-sec-1 .halal-box div img {
	height: 50%;
}
.admin-panel-add-product-sec-1 .halal-box div span {
color: var(--black);
}

.admin-panel-add-product-sec-1 .halal-box div:first-child {
	border-right: 1px solid rgba(0, 0, 0, 0.09);

}

.admin-panel-add-product-sec-1 .nav-pills .nav-item .nav-link {
	border: none;
	padding: 10px 25px;
	background-color: transparent;
	position: relative;
	color: #212529;
	font-size: 14px;
	font-weight: 500;
}

.admin-panel-add-product-sec-1 .review-btn-container button {
	border-radius: 5px;
	color: #fff;
	min-width: 25%;
	text-align: center;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	background: rgba(224, 90, 103, 0.77);
	border: 0.2px solid rgba(224, 90, 103, 0.77);
}

.admin-panel-add-product-sec-1 .review-btn-container button:hover {
	background: #fff;


}

.admin-panel-add-product-sec-1 .review-btn-container button:hover {
	background: #fff;
	border: 0.2px solid #E05A67;
	color: #E05A67;
}

.admin-panel-add-product-sec-1 .inventory-card {
	padding: 0;
}

.admin-panel-add-product-sec-1 .card {
	padding: 15px 15px;
}

.admin-panel-add-product-sec-1 .card .row {
	margin-left: 0px;
}

.admin-panel-add-product-sec-1 .inventory-card {
	padding: 0;
	margin: 0;
}

.admin-panel-add-product-sec-1 .inventory-card .row .col-4 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: .2px solid #58585840;
}


.admin-panel-add-product-sec-1 .inventory-card .row .col-4 button {
	padding: 8px;
	font-size: 13px;
	font-weight: 500;
	width: 100%;
	border-radius: 5px;
	border: none;
	margin: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.admin-panel-add-product-sec-1 .inventory-card .row:nth-child(1) .col-4 button {
	color: #FFF;
	background-color: rgba(224, 90, 103, 1);
	;
	;
}

.admin-panel-add-product-sec-1 .inventory-card .row:nth-child(2) .col-4 button {
	color: #E05A67;
	background-color: rgba(255, 178, 178, 0.38);
	;

}

.admin-panel-add-product-sec-1 .inventory-card .row:nth-child(3) .col-4 button {
	color: #E05A67;
	background-color: rgba(23, 186, 9, 0.2);

}

.admin-panel-add-product-sec-1 .inventory-card .row .col-8 {
	border-bottom: .2px solid #58585840;
}

.admin-panel-add-product-sec-1 .inventory-card .row .col-8 .row {
	padding: 10px 0;
}

.admin-panel-add-product-sec-1 .inventory-card .row:nth-child(1) .col-8 .row {
	padding: top 15px !important;
}

.admin-panel-add-product-sec-1 .inventory-card .row:nth-child(3) .col-8 .row {
	padding-bottom: 20px !important;
}



.admin-panel-add-product-sec-1 .submit-btn-container button {
	min-width: 130px;
	height: 30px;
	text-align: center;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	font-size: 14px;
	border: 1px solid rgba(224, 90, 103, 1);
}

.admin-panel-add-product-sec-1 .submit-btn-container button:nth-child(1) {
	background: transparent;
	border: 1px solid #f07054;
	color: #585858;

}


.admin-panel-add-product-sec-1 .submit-btn-container button:nth-child(2) {
	background-color: rgba(224, 90, 103, 1);
	border: 1px solid rgba(50, 90, 62, 0.2);
	color: #fff;
}

.admin-panel-add-product-sec-1 .variant-card>.row {
	border-bottom: .2px solid #58585840;
	padding: 0 0 10px 0;
}

.admin-panel-add-product-sec-1 .variant-card>.row:nth-child(3) {
	border-bottom: none;
	padding: 0 0 10px 0;
}

.admin-panel-add-product-sec-1 .variant-card .add-button {
	color: #E05A67;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	/* 153.846% */
	text-decoration-line: underline;
}


/* CSS for styling the tag input component */
.tag-select {
	display: inline-block;
	position: relative;
	font-size: calc(12px + 3 * (100vw - 320px) / 1600);;
	line-height: 1.5;
	min-width: 200px;
	padding: 10px;
	border: 1px solid #ffe6cf;
	border-radius: 4px;
}
.sub-section{
	border-top: 2px solid var(--primary-color);
	padding: 8px 0 0 0;
	// background: linear-gradient(to bottom, #00218e, white);

	&.first{
		border: none;
	}
	label{
		font-weight: 600;
	}
}

.tag-select .tags-container {
	/* display: flex; */
	display: block;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;

	&.ingredient {
		// display: flex;
		// gap: 5px;
	}
	&.custom-notes{
		// display: flex;
		// gap: 15px;
		input{
			margin: 0;
		}
		.add-btn {
			cursor: pointer;
			width: fit-content;
			padding: 4px 10px;
			border: 1px var(--primary-color) solid;
			border-radius: 5px;
			color: var(--primary-color);
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 15px;
			span {
				font-size: 20px;
			}
			
		}
	}

	input {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.tag-select .tags-container .tag {
	display: inline-flex;
	align-items: center;
	margin: 2px;
	padding: 3px 8px;
	background-color: #fff9f0;
	border-radius: 5px;

	&.ingredient {
		border: 1px solid var(--primary-color);
		// align-items: flex-start;
	}

	&.topping {
		background-color: #f4fff0;
		border: 1px solid #008b10;
		color: #008b10;
		.tag-remove{
			font-weight: 400;
			font-size: calc(11px + 3 * (100vw - 320px) / 1600);
			// padding: 0 5px;
			color: #cc0000;
			padding-left: 12px;
			// border: 1px solid #cc0000;
			filter: invert(20%) sepia(100%) saturate(1000%) hue-rotate(0deg);
		}
	}
	&.nutrition {
		background-color: #d6e0ff;
		border: 1px solid #00218e;
		color: #00218e;
		border-radius: 3px;
		padding: 0;
		
		.tag-label{
			display: flex;
			font-size: calc(12px + 3 * (100vw - 320px) / 1600);
			.name{
				font-weight: 500;
				padding: 3px 8px;
			}
			.value{
				padding: 3px 8px;
				border-left: 1px solid #00218e;
			}
		}
		.tag-remove{
			padding: 3px 8px;
			img{
				filter: invert(20%) sepia(100%) saturate(1000%) hue-rotate(0deg);
			}
		}
	}
}

.tag-select {
	&.toppings {
		width: 100%;

		.add-btn {
			cursor: pointer;
			width: fit-content;
			padding: 4px 10px;
			border: 1px var(--primary-color) solid;
			border-radius: 5px;
			color: var(--primary-color);
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 20px;
			}
		}

	}

	&.ingredient {
		.add-btn {
			cursor: pointer;
			width: fit-content;
			padding: 4px 10px;
			border: 1px var(--primary-color) solid;
			border-radius: 5px;
			color: var(--primary-color);
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 20px;
			}
		}
	}

	.eg {
		font-size: 10px;
		color: #c46613;
	}

	.theme-outline {
		border-radius: 5px;
		border: 1px solid var(--primary-color);
		padding: 4px 14px;
		color: var(--primary-color);
		&:hover {
			color: #fff;
			background: linear-gradient(to right, rgb(var(--theme-color2),0.5), var(--primary-color));
		}
	}
}

.tag-select .tags-container .tag .tag-label {
	// margin-right: 5px;
}
.tag-select .tags-container .tag{
	.allergy-name{
		color: rgb(223, 0, 0);
		font-size: calc(11px + 2 * (100vw - 320px) / 1600);;
	}
}

.tag-select .tags-container .tag .tag-remove {
	cursor: pointer;
	font-weight: bold;
	display: flex;
	img{
		width: 15px;
		margin-left: 3px;
	}
}

.tag-select .tag-input {
	flex: 1;
	border: none;
	outline: none;
}

@media (max-width:768px) {
	.menu-item-add-page{
		.admin-panel-add-product-sec-1
		{
			.submit-btn-container{
			flex-direction: column;
			button{
				margin-bottom: 1rem;
			}
		}
	}
	}
}