.giftcard-add-page {
    .card-header{
        display: flex;
        justify-content: space-between;
    }
    .input-items .input-box {
        h6 {
            margin-bottom: 5px;
        }

        input {
            &::placeholder {
                font-size: calc(13px + 1 * (100vw - 320px) / 1600);
            }
        }
        .react-datepicker-wrapper{
            width: 100%;
        }
        select {
            font-size: inherit;
            padding: 10px 16px;
        }

        input[type=file] {
            font-size: calc(13px + 1 * (100vw - 320px) / 1600);
        }
        input#coupon_code{
            font-weight: 600;
            color: rgb(52, 52, 52);
            &::placeholder{
                font-weight: 400;
            }
        }

        &.image-input {
            input {
                max-width: calc(100% - 100px);
            }
            .preview{
                width: 100px;
                height: auto;
                margin-left: 10px;
            }
        }
    }
    .expiry.input-box{
        display: flex;
        align-items: center;
        .change-btn{
            font-size: calc(13px + 1 * (100vw - 320px) / 1600);
            font-weight: 500;
            background-color: rgba(var(--theme-color), 1);
            padding: 10px 8px;
            color: #fff;
            align-self: center;
            border-radius: 4px;
            cursor: pointer;
            min-width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .expiry-input {
        display: flex;
        gap: 10px;
        /* Remove arrow/spinner from number inputs */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        input[type="number"] {
        -moz-appearance: textfield;
        }

      }

    h6 {
        margin-bottom: 5px;
        font-weight: 500;
        span{
            margin-left: 5px;
            font-weight: 400;
            font-size: calc(11px + 1 * (100vw - 320px) / 1600);
            text-transform: none;
        }
    }

    .image-container {
        position: relative;
        display: inline-block;
        .popup {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            z-index: 10;
          }
          
          &:hover .popup {
            display: block;
          }
          
          .popup-image {
            width: 200px; /* Size of popup image */
            height: auto; /* Maintain aspect ratio */
          }
    }



    .radio-btn-group {
        display: flex;
        padding: 12px 16px;
        gap: 18px;
        background-color: #fff;
        align-items: center;
        // justify-content: space-between;
        border: 1px dashed #dedbdb;
        .checks{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }

        label {
            // margin-left: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 0;
            font-size: calc(14px + 1 * (100vw - 320px) / 1600);
        }

        .label {
            font-size: calc(14px + 1 * (100vw - 320px) / 1600);
        }


        input {
            padding: 0;

            &.value-inp {
                padding: 5px 10px;
                width: 100px;
                background-color: rgba(245, 245, 245, 0.6);
            }
        }

        /* Hide the default radio button */
        .custom-radio {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 16px;
            height: 16px;
            border: 2px solid rgb(244, 95, 14);
            border-radius: 50%;

            position: relative;
            cursor: pointer;
        }

        /* Style for the checked state */
        .custom-radio:checked {
            background-color: rgb(244, 95, 14);
            border-color: rgb(244, 95, 14);
        }

        /* Inner dot for the checked radio button */
        .custom-radio:checked::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .search-add-box {

        // padding: 10px;
        // border: 1px solid rgb(226, 129, 3);
        input {
            background-color: rgb(255, 255, 255);
        }

        h6 {
            margin-bottom: 5px;
            font-weight: 500;
        }

        .selected-items {
            background-color: #fff;
            max-height: 140px;
            padding: 10px;
            overflow-y: scroll;

            .theme-outline {
                padding: 5px 10px;
                border: 1px solid rgba(var(--theme-color), 1);
                color: rgba(var(--theme-color), 1);
                border-radius: 10px;
                transition: 0.4s ease;
                cursor: default;

                &:hover {
                    color: #fff;
                }

                .close {
                    cursor: pointer;
                    font-size: calc(14px + 1 * (100vw - 320px) / 1600);
                    margin-left: 10px;
                    padding: 0 5px;
                }
            }

        }
    }
    .rich-text-container .editor-class{
        background-color: #fcfcfc;
        .DraftEditor-root {
            font-size: 16px;
          }
          
        
    }
}