html {
  scroll-behavior: smooth !important;
}


@media (min-width: 1025px) {
  html {
    font-size: calc((100vw / 1440) * 16) !important;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: calc((100vw / 1024) * 16) !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc((100vw / 768) * 16) !important;
  }
}




body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  font-family: "Inter", sans-serif !important;
}

body * {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:root {
  --primary-color: #0A74CE;
  --secondary-color: #FBBC05;
  --bg-color: #faf9f6;
  --bg-color-light: #F5F5F5;
  --black: #000000;
  --white: #FFFFFF;
    --dark-grey: #afafaf;
    --light-grey: ##EBE7E7;
  --sec-width: 78rem;
}

@media (max-width: 1024px) {
  :root {
    --sec-width: 54.833rem;
  }
}

@media (max-width: 768px) {
  :root {
    --sec-width: 42rem;
  }
}

img {
  max-width: 100%;
}

.only-tab,
.only-mob {
  display: none;
}

.only-tab-and-mobile {
  display: none;
}




h1 {
  //styleName: Web:Section Title;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.875rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.625rem;
    color: var(--black);

}

h2 {
  //styleName: Web:Title1;
  font-size: 1.875rem; // 30px
  font-weight: 500;
  line-height: 2.875rem; // 46px
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.25rem; // 20px
  color: var(--black);
}

p {
  //styleName: Web : Content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0px;
  color: var(--black);

}

label {
  //styleName: Web : Content;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0px;
  color: var(--black);

}




/* ********** COMMON BTNS ************* */

button {
  border: none;
  background-color: transparent;
  display: block;
  box-shadow: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
 padding: 0.75rem 1.5rem;// 20px 15px
  border-radius: 0.25rem; // 4px
  font-size: 1rem; // 16px
  line-height: 1;
  transition: all 1s ease;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0; // 2px
display: flex;
align-items: center;

  &:hover {
    background-color: var(--secondary-color) !important;

  }

  &:focus {
    background-color: var(--secondary-color) !important;

  }

  &.edged {
    border-left: 1rem solid var(--secondary-color);

  }

  svg {
    margin-right: 0.625rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}


.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
 padding: 0.75rem 1.5rem;// 20px 15px
  border-radius: 0.25rem; // 4px
  font-size: 1rem; // 16px
  line-height: 1;
  transition: all 1s ease;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0; // 2px
  border: 2px solid var(--secondary-color);
display: flex;
justify-content: center;
  &:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--secondary-color);
    color: var(--secondary-color);

  }

  &:focus {
    background-color: var(--primary-color) !important;

  }


  svg {
    margin-right: 0.625rem;
    height: 1.25rem;
  }
}


.btn-outlined {
  background-color: transparent;
  color: var(--primary-color);
  text-align: center;
 padding: 0.75rem 1.5rem;// 20px 15px
 border: 2px solid var(--primary-color);
  border-radius: 0.25rem; // 4px
  font-size: 1rem; // 16px
  line-height: 1;
  transition: all 1s ease;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0; // 2px
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--white);

  }

  &:focus {
    background-color: var(--primary-color) !important;
    color: var(--white);
  }

  &.edged {
   background-color: var(--secondary-color) !important;
    color: var(--white);
  }

  svg {
    margin-right: 0.625rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}



input {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  background-color: #c8c5c5 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #fefdfd inset !important;
  -webkit-text-fill-color: #000000 !important;
}


a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}


input:focus,
select:focus,
textarea:focus {
  border-color: transparent;
  box-shadow: none;
}

.input-group input {
  border-right-color: #f5f5f5;
}

.input-group .input-group-text {
  background-color: #f5f5f5;
}

//to avoid automatic eye icon on password fields on edge
input[type="password"]::-ms-reveal {
  display: none;
}

.invalid-feedback {
  display: block !important;
}

.form-switch .form-check-input {
  border-radius: 10px !important;
  background-color: #ffffff !important;
  ;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
  cursor: pointer;
  float: right;
  margin-left: 2rem;
  background-repeat: no-repeat;
}

.form-switch .form-check-input::before,
input[type="radio"]::before {
  display: none;
  /* to remove tick mark inherited from check box */
}

.h-100vh {
  height: 100vh;
}




/* ********** POSITIONS ************* */


.relative {
  position: relative;
}

.absolute {
  position: absolute;
}



::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #82a2ca;
  font-family:"Inter", sans-serif !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0B1426;
  font-family:"Inter", sans-serif !important
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0B1426;
  font-family:"Inter", sans-serif !important

}

.text-danger {
  font-size: 0.75rem; // 12px
  margin-top: 0.125rem; // 2px
}

.slick-prev::before {
  opacity: 1;
}

.slick-next::before {
  opacity: 1;
}


@media (max-width:1024px) {
  .only-web {
    display: none;
  }

  .only-tab {
    display: block;
  }

  .only-tab-and-mobile {
    display: block;
  }

  h1 {
    font-size: 2.625rem; // 42px
    line-height: 3rem; // 48px
    margin-bottom: 0.625rem; // 10px
  }

  h2 {
    font-size: 2.375rem; // 38px
    line-height: 2.75rem; // 44px
    margin-bottom: 0.625rem; // 10px
    font-weight: 350;
  }

  p {
    font-size: 1.25rem; // 20px
    line-height: 2.125rem; // 34px
  }

  label {
    font-size: 1.25rem; // 20px
    line-height: 2.125rem; // 34px
  }

  .cr {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-primary {
    padding: 1.1rem 1.2rem;
    font-size: 1.167rem;
  }

  .btn-secondary {
    padding: 1.25rem 1.5rem;
    font-size: 1.167rem;
  }

.btn-outlined {
    padding: 1.25rem 1.5rem;
    font-size: 1.167rem;
  }


}



@media (max-width:767px) {


  .only-mob {
    display: block;
  }

  .only-tab {
    display: none;
  }

  h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin-bottom: 0.625rem;

  }

  h2 {
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 2.125rem;
    margin-bottom: 0.625rem;

  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;

  }

  label {
    font-size: 1.5rem;
    line-height: 2.25rem;

  }

  .btn-primary {
    padding: 1.575rem 1.7rem;
    font-size: 1.5rem;

    svg {
      margin-right: 0.625rem;
      height: 1.5rem;
      width: 1.5rem;
      margin-bottom: .2rem;
    }
  }

  .btn-secondary {
    padding: 1.575rem 1.7rem;
    font-size: 1.5rem;
  }
 .btn-outlined {
    padding: 1.575rem 1.7rem;
    font-size: 1.5rem;
  }

}