.admin-restaurant-add-page {
    .doc-info{
        font-size: calc(11px + 1 * (100vw - 320px) / 1600);
        line-height: normal;
        color: #820000;
    }
    .rich-text-container {
        li {
            padding: 0;
        }

        .editor-class {
            min-height: 180px;
            padding: 10px 1rem;
            max-height: 200px;
            background: rgba(255, 255, 255, 0.6);

            // span{
            //     line-height: 16px;
            // }
            .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR::before {
                top: 0;
            }


            .public-DraftStyleDefault-block {
                margin: 3px 0;
            }

            .DraftEditor-root {
                font-size: 14px;
                line-height: 110% !important;
            }

            ul {
                margin: 5px 0;
                list-style: disc !important;
                list-style-type: disc !important;

                li {
                    list-style: disc !important;
                    list-style-type: disc !important;
                }
            }

            li {
                font-size: inherit;
            }

            // .public-DraftStyleDefault-ol,
            // .public-DraftStyleDefault-ul{
            //     display: flex;
            //     flex-direction: column;
            // }
        }
    }

    @font-face {
        font-family: 'EmbederWorkSans';
        src: url('../../../../public/fonts/Work_sans/Work_Sans/WorkSans-VariableFont_wght.ttf'), url('../../../../public/fonts/Work_sans/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
        font-weight: normal; //
        font-style: normal;
    }

    .banner {
        background-image: unset !important;
        background-color: var(--primary-color);

        .title {
            font-size: 68px;
            line-height: 72px;
            color: #fff;
            font-weight: 400;
        }

        .sub-title {
            color: #F38B00;
            font-weight: 400;
        }
    }

    .template {
        display: flex;
        flex-wrap: wrap;

        .theme-outline {
            border-radius: 5px;
            padding: 3px 7px;
        }
    }

    .address-add-popup {
        .card {
            margin-bottom: 30px;
            border: none;
            letter-spacing: 0.5px;
            border-radius: 10px;
            background: #fff;
            width: 400px;
            padding: 40px 30px;
            max-width: 95vw !important;

            label {
                margin-bottom: 0;
            }

            .form-control {
                display: block;
                width: 100%;
                padding: .375rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: var(--bs-body-color);
                background-color: var(--bs-form-control-bg);
                background-clip: padding-box;
                border: var(--bs-border-width) solid var(--bs-border-color);
                appearance: none;
                border-radius: .375rem;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                border-radius: 5px;
                background: #E8E8E8;
                border: none;
            }
        }
    }

    .address-page-sec-1 {
        .white-card {
            height: 430px !important;
        }



        .theme-btn {
            background: white;
            border: 1px solid rgb(var(--theme-color));
            color: rgb(var(--theme-color));
            padding: calc(3px + 3 * (100vw - 320px) / 1600) calc(5px + 18 * (100vw - 320px) / 1600);
            border-radius: 10px;
        }
    }

    .sec-2 {

        .row>div {
            position: relative;
        }

        .setting-main-box {
            background-color: rgba(245, 245, 245, 0.6);
            border-radius: 4px;
            padding: 20px;

            li {
                width: 100%;
                margin: 0 0 8px;
                border-radius: 4px;

                .nav-link {
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    text-align: left;
                    font-weight: 500;
                    font-size: calc(14px + 2 * (100vw - 320px) / 1600);
                    color: #747474;
                    border-radius: 4px;
                    padding: 10px 16px;

                    i {
                        vertical-align: 0px;
                        margin-right: 6px;
                    }

                    &.active {
                        background: linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color2)));
                        color: var(--primary-color) !important;
                        border-color: transparent;
                    }

                    &:disabled {
                        opacity: 40%;
                    }
                }

            }

        }

        .input-items {
            background-color: rgba(245, 245, 245, 0.6);
            border-radius: 4px;
            padding: 20px;

            .input-box h6 {
                font-size: calc(13px + 1 * (100vw - 320px) / 1600);
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 4px;
                color: #3d3d3d;
            }

            input {
                padding: 10px 16px;
                border: 1px dashed #dedbdb;
                width: 100%;
                border-radius: 4px;
                background-color: #fff;
                font-size: 13px;

                &::placeholder {
                    font-size: 13px;
                    color: rgba(116, 116, 116, 0.7);
                }
            }

            .checkox-container {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .radio-btn-group {
                display: flex;
                gap: 15px;

                label {
                    margin-right: 15px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    font-size: 15px;
                }

                /* Hide the default radio button */
                .custom-radio {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 16px;
                    height: 16px;
                    border: 2px solid rgb(244, 95, 14);
                    border-radius: 50%;

                    position: relative;
                    cursor: pointer;
                    padding: 0;
                }

                /* Style for the checked state */
                .custom-radio:checked {
                    background-color: rgb(244, 95, 14);
                    border-color: rgb(244, 95, 14);
                }

                /* Inner dot for the checked radio button */
                .custom-radio:checked::before {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: white;
                    border-radius: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            select.form-select {
                padding: 8px 16px;
                border: 1px dashed #dedbdb;
                width: 100%;
                border-radius: 4px;
                background-color: #fff;
            }

            textarea {
                padding: 10px 16px;
                border: 1px dashed #dedbdb;
                width: 100%;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.6);
            }

            .input-box .choose-img-box {
                padding: 10px 16px;
                border: 1px dashed #dedbdb;
                border-radius: 4px;
                background-color: #fff;
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
            }
        }

        .service-box .service-item {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 10px;
            border: 1px dashed #dedbdb;
            background-color: #f5f5f5;
            border-radius: 4px;
        }



        .custom-checkbox {
            appearance: none;
            cursor: pointer;
            height: 16px;
            width: 16px;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            border: 1px solid #dedbdb;
            background-color: transparent;
            transition: all 0.3s ease-in-out;

            &::before {
                content: "\eb7b";
                font-family: remixicon !important;
                position: absolute;
                top: 50%;
                left: 50%;
                color: rgb(var(--theme-color2));
                transform: translate(-50%, -50%) scale(0);
                transition: all 0.3s ease-in-out;
            }

            &:checked {
                background-color: rgb(var(--theme-color2));
                border: 1px solid rgb(var(--theme-color2))
            }

            &:checked::before {
                -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
                color: #fff
            }
        }

        table {
            th {
                font-weight: 500;
                white-space: wrap !important;
            }

            td {
                font-size: 13px;
                height: 100%;
                vertical-align: middle;

                button {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 5px 10px;
                    margin-top: 5px;
                }

                // &:last-child {
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }

                &.file-col {
                    min-width: 200px;
                }

                .text-danger {
                    max-width: 100%;
                    display: flex;
                    white-space: wrap;
                }

                .doc-value {
                    padding: 10px 16px;
                    border: 1px dashed #dedbdb;
                    min-width: 100px;
                    max-width: 200px;
                    min-height: 40px;
                    border-radius: 4px;
                    background-color: #fff;
                    font-size: 13px;
                    white-space: wrap;
                }
                @media (min-width: 1200px) and (max-width: 1402px) {
                    &.docnum-col{
                        .doc-value {
                            max-width:150px;
                    }
                }

                
            }
            }
            .checkbox-container{
                display: flex;
                align-items: center;
                padding: 10px 16px;
                border: 1px dashed #dedbdb;
                border-radius: 4px;
                background-color: #fff;
                font-size: 13px;
                white-space: wrap;
                gap: 5px;
                font-weight: 500;
                &.work-hrs{
                    width: max-content;
                }
                input{
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    border: 1px solid red;
                }
            }
        }


    }

    .restaurant-button.delete-btn {
        background: transparent;
        border: 1px solid red;
        color: red;

        &:hover {
            background-color: rgb(182, 0, 0);
            color: #fff;
        }
    }

    .success-alert {
        position: fixed;
        z-index: 3;
        left: 45%;
        top: 40%;
        opacity: 0;
        transition: all 1s ease;
        border-radius: 5px;
        background: #fff;
        padding: 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        // height: 0;

        &.active {
            opacity: 0.8;
            height: fit-content;
            padding: 10px 10px;
        }

        .text {
            color: rgb(var(--theme-color));
        }
    }

    .phone-input-container .form-control {
        padding: 10px 20px 10px 60px !important;

    }

    .user-address .address-page-sec-1 .white-card {
        height: 430px;

    }

    .address-page-sec-1 .theme-btn {
        margin-top: 10px;
    }

    .location-selection {
        background-color: rgba(245, 245, 245, 0.6);
        border-radius: 10px;
        padding: 10px 10px;
        // height: 400px;
        overflow-y: scroll;

        .selected-location {
            font-size: 13px;
        }

        .current-location {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: calc(15px + 5 * (100vw - 320px) / 1600) 0 calc(10px + 5 * (100vw - 320px) / 1600);
            border-bottom: 1px solid rgba(var(--dashed-line), 1);

            .current-address {
                display: flex;
                gap: 10px;
                font-size: calc(14px + 4 * (100vw - 320px) / 1600);

                h5 {
                    font-size: calc(12px + 2 * (100vw - 320px) / 1600);
                    font-weight: 600;
                    line-height: 1;
                    color: rgba(var(--theme-color), 1);
                }
            }
        }
    }


    .restaurant-button {
        background: linear-gradient(to right, #f2a93e, #f07054);
        color: #fff;
        width: -moz-fit-content;
        width: fit-content;
        float: right;
    }

    .theme-modal .modal-dialog .modal-content .modal-footer {
        border: none;
        padding: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320))) calc(17px + (16 - 17) * ((100vw - 320px) / (1920 - 320)));
        gap: 8px
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button {
        margin: 0
    }

    .theme-modal .modal-dialog .modal-content .modal-footer {
        border-top: 1px dashed #dedbdb
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button {
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        padding: 8px 20px !important
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button:first-child {
        background-color: transparent;
        color: #3d3d3d;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button:first-child:hover {
        background: -webkit-gradient(linear, left top, right top, from(#f2a93e), to(#f07054));
        background: linear-gradient(to right, #f2a93e, #f07054);
        color: #3d3d3d
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button:nth-child(2) {
        background: -webkit-gradient(linear, left top, right top, from(#f2a93e), to(#f07054));
        background: linear-gradient(to right, #f2a93e, #f07054);
        color: #fff
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button:nth-child(2):hover {
        color: #3d3d3d
    }

    .theme-modal .modal-dialog .modal-content .modal-footer button:nth-child(2) a {
        color: #fff
    }

    textarea::-webkit-input-placeholder {
        color: rgba(116, 116, 116, 0.7)
    }

    textarea::-moz-placeholder {
        color: rgba(116, 116, 116, 0.7)
    }

    textarea:-ms-input-placeholder {
        color: rgba(116, 116, 116, 0.7)
    }

    textarea::-ms-input-placeholder {
        color: rgba(116, 116, 116, 0.7)
    }

    textarea::placeholder {
        color: rgba(116, 116, 116, 0.7);
        font-size: 13px;
    }

    textarea {
        font-size: 13px;
    }

    textarea:focus {
        outline: none
    }


    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(7px + 3 * (100vw - 320px) / 1600) calc(14px + 18 * (100vw - 320px) / 1600);
        font-weight: 500;
        transition: all 0.3s ease;
        position: relative;
        border: none;
        font-size: 14px;
        z-index: 0;
        white-space: nowrap;
    }

    .theme-modal .modal-dialog .modal-content {
        border: none;

        .modal-header {
            border-bottom-style: dashed;
            padding: calc(12px + 4 * (100vw - 320px) / 1600) calc(17px + -1 * (100vw - 320px) / 1600);

            h5 {
                font-size: calc(16px + 4 * (100vw - 320px) / 1600);
                color: #3d3d3d;
                font-weight: 500;
            }

            .btn-close {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -15px;
                right: -15px;
                background-color: var(--theme-color);
                opacity: 1;
                background-image: none;
                border-radius: 4px;
                font-size: calc(15px + 2 * (100vw - 320px) / 1600);
                color: #fff;
                margin: 0;
                padding: 8px;
                z-index: 1;
            }
        }

    }

    .theme-modal.add-hours .modal-body {
        select.form-select {
            padding: 8px 16px;
            border: 1px dashed #dedbdb;
            width: 30%;
            border-radius: 4px;
            background-color: rgba(245, 245, 245, 0.6);
        }

        select {
            margin: 20px 0 6px;
            padding: 4px 8px;
            width: 30%;
            border-radius: 4px;
        }

        input {
            padding: 10px 16px;
            border: 1px dashed #dedbdb;
            width: 100%;
            border-radius: 4px;
            background-color: rgba(245, 245, 245, 0.6);
            font-size: 15px;

            &::placeholder {
                font-size: 13px;
                color: rgba(116, 116, 116, 0.7);
            }
        }
    }

    .restaurant-charges {
        .top-sec {
            margin-bottom: 20px;
        }

        .form-sec {
            .row {
                margin-bottom: 20px;
            }
        }
    }

    .restaurant-bank-add {
        .top-sec {
            margin-bottom: 20px;
        }

        .form-sec {
            .row {
                margin-bottom: 20px;
            }
        }
    }



}

@media (max-width: 1199px) {
    .admin-restaurant-add-page {
        .setting-main-box {
            display: flex;
            flex-wrap: unset;
            position: relative;
            top: 0;
            flex-direction: unset !important;
            gap: 15px;
            margin-bottom: 20px;
            padding-bottom: 9px;
            overflow: auto;
            border-right: none;
            padding-right: 0;

            li {
                display: inline-block;
                width: max-content !important;
                margin: 0 !important;

                .nav-link {
                    width: max-content;
                }
            }
        }

        .sec-2 .setting-main-box li .nav-link {
            width: max-content !important;
        }
    }
}


@media (max-width: 1005px) {
    .admin-restaurant-add-page {
        .banner {
            background-image: unset !important;
            background-color: var(--primary-color);

            .title {
                font-size: 52px;
                line-height: 55px;
                color: #fff;
                font-weight: 400;
            }

            .sub-title {
                color: #F38B00;
                font-weight: 400;
            }
        }


    }
}


@media (max-width:767px) {
    .admin-restaurant-add-page {
        .banner {
            background-image: unset !important;
            background-color: var(--primary-color);

            .title {
                font-size: 2.525rem;

                line-height: 2.8rem;
                color: #fff;
                font-weight: 400;
            }

            .sub-title {
                color: #F38B00;
                font-weight: 400;
            }
        }

        .scroll-btn-container {
            width: 76.5625%;
            ;
            margin: -150px auto 99px auto;
            align-items: center;
            justify-content: center;

            .scroll-down-btn {
                padding: 0px 0px 0px 20px;
                border-radius: 0px;

                img {
                    height: 50px;
                    width: 100px;
                }

                ;
            }
        }

    }
}