.live-tracking {

    .driver-marker {
        animation: scaleAnimation 2s infinite alternate;
    }

    @keyframes scaleAnimation {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.2);
        }
    }
}