.user-list-page {
   .filters-tab .tab{
      margin-right: 10px;
      width: max-content;
   }
   .filters{
      .switch-xsm .slider::before {
         position: absolute;
         content: "";
         height: 19px;
         width: 19px;
         left: 4px;
         bottom: 4px;
         background-color: #fff;
         transition: 0.4s;
      }
   }

   table {
      // .user-name{
      //     text-transform: none;
      // }
   }

}