.chat-page-container {
  height: calc(100vh - 110px);

  .row {
    height: fit-content;
  }
  .tabs{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    position: relative;
    .tab{
      display: flex;
      flex: 1;
      border: 1px solid var(--primary-color);
      padding: 5px;
      cursor: pointer;
      border-radius: 10px;
      justify-content: center;
      font-weight: 500;
      transition: all 0.5s ease;
      &:hover{
        background-color: var(--primary-color);
        color: #fff;
      }
      &.active{
        background-color: var(--primary-color);
        color: #fff;
      }
      &.settings-tab {
        flex: 0; /* Prevents it from stretching */
        width: 50px; /* Fixed width for the settings tab */
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        img{
          width: 25px;
          max-width: fit-content;
          height: 25px;
          transition: all 0.5s ease;
        }
        &:hover, &.active{
          img {
            filter: brightness(0) invert(0.8); 
          }
        }
      }
      
    
    }
    .dropdown {
      position: absolute;
      top: 40px; 
      right: 0px;
      background-color: white;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      width: 150px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;
    
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
    
        li {
          padding: 8px 10px;
          cursor: pointer;
          transition: background-color 0.3s;
          display: block;
          font-size: calc(12px + 2 * (100vw - 320px) / 1600);
          &:hover {
            background-color: var(--primary-color);
            color: white;
          }
        }
      }
    }
  }
  



  .contacts-container {
    background-color: #fff;
    padding: 20px 10px;
    height: calc(100vh - 140px);
    overflow-y: auto;
  }

  .nav-pills {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: nowrap;
    border: none;
    overflow-x: hidden;

    .nav-item {
      margin: 0;

      .nav-link {
        border-radius: 3px;
        text-align: left;
        padding: 10px 10px;
        margin-bottom: 10px;
        font-weight: 500;
        color: #333;
        transition: background-color 0.3s;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }


  .nav-pills .nav-link.active {
    background-color: var(--primary-color, #000000);
    color: #fff;
  }

  .nav-pills .nav-link .name {
    color: var(--primary-color, #000000);

    /* Body 1 Emphasized */
    font-size: calc(14px + 2 * (100vw - 320px) / 1600);
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.2px;
    width: fit-content;
  }

  .nav-pills .nav-link {
    .profile-img {
      width: 43px;
      height: 43px;
      border-radius: 100%;
    }

    .last-msg {
      color: var(--base-shade-50, rgba(0, 0, 0, 0.50));
      font-size: calc(11px + 2 * (100vw - 320px) / 1600);
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 1.2;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      margin-top: 3px;
      .media-icon{
        width: 14px;
        height: 14px;
        top: -1px;
        margin-right: 2px;
        position: relative;
      }
      span{
        display: initial;
      }
    }
  }


  .nav-pills .nav-link {
    .last-msg-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .unread-count {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: calc(10px + 1 * (100vw - 320px) / 1600);
        background-color: #00aa03;
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        font-weight: 500;
        // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
        opacity: 0;
      }

      time {
        color: #585858;
        font-size: calc(10px + 1 * (100vw - 320px) / 1600);
        font-weight: 500;
        line-height: 20px;
        align-self: flex-start;
        width: 48px;
        // max-width: 45px;
        margin-left: 5px;
      }

      &.unread {
        .unread-count {
          opacity: 1;
        }

        time {
          color: #058e00;
        }
      }

    }

    &.active {
      .last-msg-time time {
        color: #d4d4d4;
      }
    }

  }


  .nav-pills .nav-link.active .name,
  .nav-pills .nav-link.active .last-msg,
  .nav-pills .nav-link.active time {
    color: #fff;
  }

  .input-group {
    width: 100%;
  }
  .file-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 5px;
    border-top: 1px solid #ddd;
    // border-radius: 5px;

    p {
      margin: 0;
      font-size: calc(12px + 2 * (100vw - 320px) / 1600);
    }

    button {
      background: var(--primary-color, #000000);
      border: none;
      // border-radius: 0 10px 10px 0;
      padding: 0 10px;
      color: #ff4d4d;
      cursor: pointer;
    }
  }

  .form-control {
    border-radius: 30px;
    font-size: calc(14px + 2 * (100vw - 320px) / 1600);
    line-height: normal;
    padding: 10px 5px;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: rgb(234, 234, 234);
    }
  }

  .btn-primary {
    border-radius: 30px;
  }

  .text-muted {
    color: #888;
    text-align: center;
  }




}

@media (max-width: 767px) {
  .chat-page-container {
    padding: 0;

    .back-btn {
      padding: 0;
      height: fit-content;
      width: fit-content;
    }

    .back-btn img {
      height: 30px !important;

    }


    .card {
      height: calc(100% - 10px);

    }

    .contacts-container {
      padding: 10px;
    }

    .nav-pills .nav-link {
      text-align: center;
    }

    .input-group {
      margin-top: 10px;
    }

  }
}